::-webkit-scrollbar{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background: $blueBlack;
}