$color: #111fff;
.welcome {
  position: fixed;
  left: 10%;
  bottom: 10%;
  overflow:hidden;
  font-size: 18px;
  line-height: 40px;
  color: $blueLight;

  &__router{
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 2px;

    span {
      background-image: linear-gradient(transparent calc(98% - 1px), $blueLight 1px,);
      background-size: 0;
      background-repeat: no-repeat;
      display: inline;
      transition: 0.5s ease;
    }
    &:hover{
      color: #fff;
      span {
        background-size: 100%;
      }
    }
  }

  @include md {
    bottom: initial;
    top: 60%;
    font-size: 24px;
  }

  @include xl {
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
  }

  @include xxl {
    top: 60%;
  }

  @include huge {
    font-size: 32px;
  }
  
  &__container {
    overflow: hidden;
    height: 30px;
    // margin: 8px 0;
    @include md {
      height: 34px;
    }
    @include xl {
      height: 40px;
    }

    &:after, &:before {
      position: absolute;
      top: 0;
      font-size: 42px;
      line-height: 40px;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
      font-weight: normal;
    }

    &__list {
      margin-top: 0;
      padding-left: 87px;
      text-align: left;
      list-style: none;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      @include md {
        padding-left: 112px;
      }

      @include xl {
        padding-left: 128px;
      }

      @include huge {
        padding-left: 154px;
      }
      
      &__item {
        line-height:40px;
        margin:0;
        font-weight: bold;
      }
    }

    &:nth-child(3){
      .welcome__container__list{
        padding-left: 80px;
        @include md {
          padding-left: 106px;
        }
        @include xl {
          padding-left: 123px;
        }
        @include huge {
          padding-left: 143px;
        }
      }
    }
  }
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE : 
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines