.work {
  padding: 25% 0;
  animation: fadeIn 2s ease;

  &__url{
    font-family: "Stanley";
    letter-spacing: normal;
    font-size: inherit;
    @include xl {
      animation: fadeInUrl 2s ease;
      position: absolute;
      z-index: 1;
      right: 12%;
      bottom: 4rem;
    }
  }
  
  &__title{
      top: 20vh;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Stanley";
      font-size: 32px;
      position: absolute;
      z-index: 1;
      text-align: center;
      white-space: nowrap;
      animation: workTitleAppear 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      @include xl {
        top: 0;
        font-size: 8vh;
      }

      &:after{
        content: attr(year);
        position: absolute;
        bottom: -60%;
        font-size: 16px;
        right: 0;
        font-family: 'Gotu';
        @include xl {
          bottom: -30%;
        }
      }
      &:before{
        content: "";
        background-color: $blueLight;
        height: 2px;
        width: 75px;
        position: absolute;
        margin: 13px;
        bottom: -60%;
        right: 35px;
        animation: lineDraw 2s ease;
        @include xl {
          right: 50px;
          bottom: -30%;
        }
      }
  }

  &__info{
    font-size: 14px;
    font-weight: bolder;
    animation: fadeIn 2s ease;

    @include xl {
      animation: workTitleAppear 4s cubic-bezier(0.075, 0.82, 0.165, 1);
      top: 18vh;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1;
    }

    & > li {
      padding: 0 0 1rem 0;
      @include xl {
        padding: .25rem 0;
      }
      &:before {
        display: block;
        content: attr(attribute);
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        padding-right: 1rem;
        @include xl {
          display: inline-block;
        }
      }
    }
  }

  &__description{
    margin: 0;
    height: 60%;
    font-size: 14px;
    animation: fadeIn 2s ease;

    @include xl {
      position: absolute;
      z-index: 1;
      bottom: 0;
      column-count: 2;
      column-gap: 38vw;
      column-fill: auto;
      padding: 4rem;
    }
  }

  &__wrapper {
    padding: 35vh 8% 16% 8%;
    @include xl {
      padding: 35vh 16% 16% 16%;
      padding: initial;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 33vw;
      transform: translate(-50%, -50%);

      // img {
      //   width: 37vw;
      // }
    }
    &.single{
      // width: 66vw;
      .works__item {
        margin-bottom: 5vh;
      }

      article {
        // width: 66vw;
      }
    }
  }

  &__gallery{
    & > div{
      padding-top: 16vw;
      display: flex;
      flex-wrap: wrap;
    }
    &--item {
      cursor: pointer;
      text-align: center;
      padding:0 0 50px 0;
      h3{
        font-size: 14px;
        font-weight: normal;
      }
      @include md {
        padding: 0 5px 50px 5px;
      }
      img {
        width: 100%;
      }
      &[size='3']{
        @include md{
          flex-basis: 25%;
        }
      }
      &[size='4']{
        @include md{
          flex-basis: 33.333%;
        }
      }
      &[size='6']{
        @include md{
          flex-basis: 50%;
        }
      }
      &[size='12']{
        @include md{
          flex-basis: 100%;
        }
      }
    }
  }

  p, ul  {
    font-size: 13px;
  }

  a {
    margin-top: 2rem;
    display: block;
    font-family: "Stanley";
  }

}