.work {
  padding: 25% 0;
  
  &__title{
      top: 16vh;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Stanley";
      font-size: 32px;
      position: absolute;
      z-index: 1;
      text-align: center;
      white-space: nowrap;
      animation: workTitleAppear 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      @include xl {
        top: 0;
        font-size: 8vh;
      }

      &:after{
        content: attr(year);
        position: absolute;
        bottom: -60%;
        font-size: 16px;
        right: 0;
        font-family: 'Gotu';
        @include xl {
          bottom: -30%;
        }
      }
      &:before{
        content: "";
        background-color: $blueLight;
        height: 2px;
        width: 75px;
        position: absolute;
        margin: 13px;
        bottom: -60%;
        right: 35px;
        animation: lineDraw 2s ease;
        @include xl {
          right: 50px;
          bottom: -30%;
        }
      }
  }

  &__wrapper {
    padding: 35vh 16% 16% 16%;
    @include xl {

      &.single{
        // width: 66vw;
        

        article {
          // width: 66vw;
        }
      }
      padding: initial;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 33vw;
      transform: translate(-50%, -50%);

      // img {
      //   width: 37vw;
      // }
    }
  }

  &__gallery{
    & > div{
      padding-top: 16vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }
    &--item {
      cursor: pointer;
      text-align: center;
      padding-bottom: 50px;
      h3{
        font-size: 14px;
        font-weight: normal;
      }
      @include md {
        flex-basis: 49%;
      }
      @include xxl {
        flex-basis: 32.5%;
      }
      img {
        width: 100%;
      }
    }
  }

  p, ul  {
    font-size: 13px;
  }

  a {
    margin-top: 2rem;
    display: block;
    font-family: "Stanley";
  }

}