@keyframes orbit-clock-wise {
	0% { opacity: 0.4; transform: rotate(0deg); }
	2% { opacity: 0.8; }
	4% { opacity: 0.2; }
	5% { opacity: 0.8; }
	100% { opacity: 0.4; transform: rotate(360deg); }
}

@keyframes moonMovement{
	from { transform: rotate(-40deg) translate(-50vw, -50vw)  rotate(40deg); }
    to { transform: rotate(190deg) translate(-50vw, -50vw)  rotate(-190deg); }
}

@keyframes reflection {
  0%{
		opacity: 0%;
  }
  15%{
		opacity: 75%;
  }
  50%{
		opacity: 100%;
  }
  85%{
		opacity: 75%;
  }
  100%{
    opacity: 0%;
  }
}

@keyframes moonCycle {
  0% {
    transform: rotate(35deg);
  }
  to{
    transform: rotate(145deg);
  }
}

@keyframes screenReflection{
  0%{
    fill: #99b8bc;
  }
  10%{
    fill: #b2e6ec;
  }
  20%{
    fill: #9fa1a1;
  }
  30%{
    fill: #b3e4eb;
  }
  40%{
    fill: #99b8bc;
  }
  50%{
    fill: #b1d9df;
  }
  60%{ 
    fill: #80a2a7;
  }
  70%{
    fill: #92d6df;
  }
  80%{
    fill: #99b8bc;
  }
  90%{
    fill: #b8d9dd;
  }
  100%{
    fill: #99b8bc;
  }
}

@keyframes workTitleAppear{
  0%{
    opacity: 0%;
    transform: translate(-50%, 0%);
  }
  15%{
    opacity: 0%;
    transform: translate(-50%, 0%);
  }
  100%{
    opacity: 100%;
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes workTitleAppear{
  0%{
    opacity: 0%;
    -webkit-transform: translate(-50%, 0%);
  }
  15%{
    opacity: 0%;
    -webkit-transform: translate(-50%, 0%);
  }
  100%{
    opacity: 100%;
    -webkit-transform: translate(-50%, -50%);
  }
}

@keyframes lineDraw{
  0%{
    width: 0;
  }
  to{
    width: 75px;
  }
}

@-webkit-keyframes lineDraw{
  0%{
    width: 0;
  }
  to{
    width: 75px;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  75%{
    bottom: -3%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 100%;
  }
}

@-webkit-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  75%{
    bottom: -3%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 100%;
  }
}

@keyframes fadeInUrl{
  0%{
    opacity: 0;
    bottom: 0;
  }
  50%{
    opacity: 0;
    bottom: 2rem;
  }
  100% {
    bottom: 4rem;
    opacity: 100%;
  }
}

@-webkit-keyframes fadeInUrl{
  0%{
    opacity: 0;
    bottom: 0;
  }
  50%{
    opacity: 0;
    bottom: 2rem;
  }
  100% {
    bottom: 4rem;
    opacity: 100%;
  }
}