html {
  // background: #1c2c36;
  // background: radial-gradient(#1e3c50, #0a1418) no-repeat 50% 20%;
  background-color: $blueBlack;
  background-image: url('../../assets/images/noise.png');
  color: $blueLight;
  font-family: 'Gotu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}